.flex{
     display: flex; 
     flex-direction: row;
     padding: 40px 50px;
    
}


 .button{
     margin-left:auto; 
    padding: 10px;
    
}
.ul li{
    display: inline;
    color: white;
    padding: 20px;
} 
.flex2{
     text-align: center;
     color: white;
     
}
.b3{
    color: white;
    background-color: aqua;
    border-radius:20px;
    padding:10px 50px 10px 50px;
    border:none;

}

/* .text2{
    padding: 10px;
}  */
.container{
    margin-top:90px; 
    text-align: center;
    color: white
    
}
.h3{
    padding-top:10px;
}
.container2{
    margin-top:90px;
    text-align: center;
    color:white;
}
.flex3{
    display: flex;
    flex-direction: row;
    padding: 40px 50px; 
    color: white;
    margin-top:5%;
}
.texts{
    align-self: center;
    padding-left: 100px;
}
.texts a{
    color:rgb(0, 132, 255);

}
.imggg{
    margin-left:60px;
    margin-top:100px;
}

.box1{ 
     width:400px;
    color:white;
    /* box-shadow: 0px 4px 0px 4px black; */
    margin: 10px;
    padding:20px 20px 0px 20px;
    border-radius: 2px;
    
} 
.flex4{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height:40vh;
    margin-top:-20px;
    margin-left:-130px;
}


.style1{
    margin-top: 40px;
}
 .style2{
    margin-top:-44px;
    padding-left:55px;
} 
.style3{
    padding-left:55px;
    margin-top:-10px;
}
.ACCESS{
    border: 0;
    position: relative;
    top:200px;
    height: 230px;
    width:800px;
    text-align: center;
    padding:20px 50px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.10);
    margin:auto;
    border-radius: 10px;
    background-color: #222a36;
    color: white;
}
.but2{
    padding:5px 70px 5px 5px;
    border-radius: 20px;
    border: none;
    margin-right:20px;
}
button{
    padding:5px 15px 5px 15px;
    border-radius: 20px;
    border:none;
    color: white;
    background-color:rgb(55, 96, 150);
}


.header6{
    width: auto; 
    height:auto;
    background-color: hsl(210, 65%, 15%);
    color:white;
}
.down{
    display: flex;
    flex-direction: row;
    margin-top:150px;

}
.para{
    width: 450px;
    margin-left: 60px;
    margin-top: -20px;
    
}
.lorem{
    margin-top: 20px;
}
.icon{
    margin:155px 50px;
}
.about{
    margin:155px 50px;
}
.media{
    margin-top: 158px;
    
}
.svg{
   margin-top: 90px;
   margin-left: 40px;
}
.numb{
    margin-left: 40px;
    margin-top: -20px;
}
.con{
    margin-left: 35px;
    
}